*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
p,h1,h6,h2,h4,h3{
    padding: 0.5rem;
}
.header{
    width: 100%;
    background-color: rgb(47, 67, 248);
}
.logo{
    border: 1px solid blue;
    background: white;
    padding: 1rem;
    border-radius: 0.5em;
    font-size: 1.5rem;

}

.logo span{
    color: rgb(47, 141, 248);
}
.ic h1{
    margin-top: 1rem;
}

.card-1{
    margin-top: 1rem;
}
.card i{
    border: 1px solid black;
    padding: 0.5rem;
}
.service{
    background: rgb(166, 199, 238);
}
.card-body{
    align-items: center;
}
.offer{
    background:lightgreen;

}
.arr{
    margin-top: 60px;
}
.rrr{
    text-align: center;
}


.saf{
    margin-left: 2rem;
    border-left: 3px solid blue;

}
.saff{
    background-color: rgb(203, 239, 253);
    
}
.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: blue;
    margin-top: 6rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;

}

.footer{
    background-color: rgb(47, 67, 248);

}
.ff{
    border-top: 1px solid white;
    color: white;
    border-bottom: 1px solid white;

}

.check{
    font-size: 2rem;
}
.abh{
    display: flex;
    flex: wrap;
    align-items: flex-start;
    justify-content: space-around;
    
    
}
.cop{
    color: white;
    flex-grow: 1;
}
.term{
    color: white;
}

.card-wrapper{
    display: flex;
}
.cad{
    flex: 1 1 400;
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
    justify-content: space-betw;

}
.bord{
    border: 1px solid blue;
    width: 40%;
    margin-left: 6rem;
    background: rgb(60, 97, 199);
    color: white;
}
.bord-1{
    border: 1px solid red;
    width: 40%;
    margin-left: 6rem;
    background: rgb(230, 45, 45);
    color: white;
}
.imge-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.imge-wrapper img{
    display: block;
    width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center;
}
.lgo{
    margin: 0  1rem;
    position: relative;
}
.imge-1{
    width: 100%;
}
.imge-2{
    width: 100%;
}
.imge-4{
    width: 100%;
}
.imge-5{
    width: 100%;
}
.imge-3{
    width: 100%;
}
#textimal{
    background: skyblue;
}
#textimal h6{
    margin-top: 5rem;
}
.name{
    margin-bottom: 5rem;
}
.offer-wrapper{
    display: flex;
}

.offer-img{
    width: 300px;
    border-radius: 50%;
    background: blue;
    padding: 30px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;

}
.offer-text{
    margin: 0 auto;
    margin-left: 5rem;
}
.offer-img img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    object-fit: cover;
}

@media (max-width: 858px){
    .card-wrapper{
        flex-direction: column;
    }
    .offer-wrapper{
        flex-direction: column;
    }
    .offer-img{
        margin-top: 2rem;
    }
    .imge-wrapper{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .imge-wrapper img{
        display: block;
        width: 100%;
        margin: auto;
        object-fit: cover;
        object-position: center;
    }
    .imge-1{
        width: 50%;
    }
    .imge-2{
        width: 50%;
    }
    .imge-4{
        width: 50%;
    }
    .imge-5{
        width: 50%;
    }
    .imge-3{
        width: 50%;
    }
    .lgo{
        margin: 1rem 0;
        position: relative;
    }
}
