*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
p,h1,h6,h2,h4,h3{
    padding: 0.2rem;
}
.header{
    width: 100%;
    background-color: rgb(47, 67, 248);
}
.logo{
    border: 1px solid blue;
    background: white;
    padding: 1rem;
    border-radius: 0.5em;
    font-size: 1.5rem;

}


.logo span{
    color: rgb(47, 141, 248);
}
.ic h1{
    margin-top: 1rem;
}




#about{
    background: rgb(47, 67, 248);;
}
.about-wrapper{
    display: flex;
    flex-wrap: wrap;
}
#about h1{
    color: white;
    font-weight: bold;
}
#about p{
    color: white;
}
#about h6{
    color: white;
}


.about-text{
    flex: 1 1 300px;
    margin: auto;
    padding: 30px;

}
.about-img{
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
}
.about-img img{
    display: block;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    
}
#offer{
    background: rgb(47, 67, 248);;
}


#ladu{
    padding: 50px  0px;
    background: rgb(220, 244, 248);
}
.ladu-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.ladu-img{
    flex: 1 1 50px;
    padding: 30px;
    margin: auto;
}
.ladu-text{
    flex: 1 1 200px;
    margin: auto;
    padding: 30px;
}
.ladu-img img{
    display: block;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
}
#card{
    padding: 50px 0;
}
.text-card{
    padding: 30px;
    text-align: center;

}
#card h1 h6{
    font-weight: bold;
}
.card-wrapper{
    display: flex;
}
.cad{
    margin:  auto;
    text-align: center;
    justify-content: space-betw;

}
.card-1{
    margin-top: 1rem;
}
.card h5{
    margin-top: 1rem;
}
.card i{
    border: 1px solid black;
    margin-top: 1rem;

}
.service{
    background: rgb(166, 199, 238);
    
}
#singh{
    padding: 50px 0;
}

.text-crd{
    padding: 30px;
}
.card-body{
    align-items: center;
}
.offer{
    background:lightgreen;

}
.arr{
    margin-top: 60px;
}
#safety{
    padding: 50px 0;
    background:  rgb(203, 239, 253);
    ;
}
.saf-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.saf-img{
    flex: 1 1 100px;
    padding: 30px;
    margin: auto;
}
.saf-text{
    flex: 1 1 200px;
    margin: auto;
}
.saf-img img{
    display: block;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
}




.saf{
    margin-left: 2rem;
    border-left: 3px solid blue;

}

.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: blue;
    margin-top: 6rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;

}
.circl{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: blue;
    max-width: 100%;

}



.footer{
    background-color: rgb(78, 83, 128);

}


.foot-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}

.foot{
    width: 200px;
    margin-top: 1rem;
    color: white;
}
.foot a{
    text-decoration: none;
    color: white;
}
.footer{
    padding-top: 50px ;
}
.getin{
    text-align: center;
}

.check{
    font-size: 2rem;
}
.abh{
    display: flex;
    flex: wrap;
    align-items: flex-start;
    justify-content: space-around;
    
    
}
.cop{
    color: white;
    flex-grow: 1;
}
.term{
    color: white;
}


.bord{
    border: 1px solid blue;
    width: 40%;
    margin-left: 6rem;
    background: rgb(60, 97, 199);
    color: white;
}
.bord-1{
    border: 1px solid red;
    width: 40%;
    margin-left: 6rem;
    background: rgb(230, 45, 45);
    color: white;
}
#brand{
    padding: 50px 0;
}
#brand h1{
    font-weight: bold;

}
.brand-text{
    text-align: center;
    padding: 30px;
}
.imge-wrapper{
    display: flex;
    align-items: center;
    
}
.imge-wrapper img{
    display: block;
    width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center;
}
.lgo{
    margin: 0  1rem;
    position: relative;
}
.imge-1{
    width: 100%;
}
.imge-2{
    width: 100%;
}
.imge-4{
    width: 100%;
}
.imge-5{
    width: 100%;
}
.imge-3{
    width: 100%;
}
#faq{
    padding: 50px 0;
}
.text-faq{
    text-align: center;
}
#accordion{
    padding: 30px;
}

#texti{
    padding: 50px 0;
    background:  rgb(203, 239, 253);
    ;
}
.texti-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.texti-img{
    flex: 1 1 50px;
    padding: 30px;
    margin: auto;
}
.texi-text{
    flex: 1 1 200px;
    padding: 30px;
    margin: auto;
}
.texti-img img{
    display: block;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
}
.footer i{
    font-weight: bold;
    font-size: 1.6rem;
}
.footer h5{
    font-weight: bold;
    font-size: 1.6rem;

}

@media (max-width: 858px){
    .card-wrapper{
        flex-direction: column;
    }
    .offer-wrapper{
        flex-direction: column;
    }
    .offer-img{
        margin-top: 2rem;
    }
    .bord-1{
        width: 60%;
    }
    .bord{
        width: 60%;
    }
    .imge-wrapper{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .imge-wrapper img{
        display: block;
        width: 100%;
        margin: auto;
        object-fit: cover;
        object-position: center;
    }
    .imge-1{
        width: 50%;
    }
    .imge-2{
        width: 50%;
    }
    .imge-4{
        width: 50%;
    }
    .imge-5{
        width: 50%;
    }
    .imge-3{
        width: 50%;
    }
    .lgo{
        margin: 1rem 0;
        position: relative;
    }
    .foot-wrapper{
        flex-direction: column;
    }
    #about h1{
        font-size: 1.8rem;
        font-size: bold;
    }
    #about h6{
        font-size: 0.7rem;
        justify-content: flex-start;
    }
   #singh h1{
       font-size: 1.8rem;
       font-weight: bold;

   }
   #singh h6{
    font-size: 0.7rem;
    font-weight: bold;


   }
   #ladu h1{
    font-size: 1.8rem;
    font-weight: bold;
}
#ladu h6{
    font-size: 0.7rem;
    font-weight: bold;

}
#card h1{
    font-size: 1.8rem;
    font-weight: bold;
}
#card h6{
    font-size: 0.7rem;
    font-weight: bold;

}
#brand h1{
    font-size: 1.8rem;
    font-weight: bold;
}
#brand h6{
    font-size: 0.7rem;
    font-weight: bold;

}
#safety h6{
    font-size: 0.7rem;
    font-weight: bold;

}
#safety h1{
    font-size: 1.8rem;
    font-weight: bold;
}
#safety h4{
    font-size: 1.6rem;
}
#faq h1{
    font-size: 1.8rem;
    font-weight: bold;
}
#faq h6{
    font-size: 0.7rem;
    font-weight: bold;
}
#texti h1{
    font-size: 1.8rem;
    font-weight: bold;
}
#texti h6{
    font-size: 0.7rem;
    font-weight: bold;
}
.footer h1{
    font-size: 1.8rem;
    font-weight: bold;
}
.footer i{
    font-weight: bold;
    font-size: 1.4rem;
}
.footer h5{
    font-weight: bold;
    font-size: 1.4rem;

}
.ladu-wrapper{
    flex-direction: column;
}
.texti-wrapper{
    flex-direction: column;

}
.saf-wrapper{
    flex-direction: column;
}
}


@media (max-width: 500px){
    .bord{
        margin-left: 3rem;
    }
    .bord-1{
        margin-left: 3rem;
    }
}
